body {
  font-family: Arial, Helvetica, sans-serif;
}

.weather {
  margin-top: 50px;
  margin-left: 40px;
  padding-left: 20px;
  border: 1px solid #dadce0;
  border-radius: 5px;
}
h1 {
  margin-top: 20px;
  text-align: center;
  color: #0c66eb;
  font-size: 52px;
}

.date,
.result {
  text-align: center;
  font-size: 20px;
  color: black;
  padding-left: 20px;
}
.sunrise,
.sunset,
.Humidity,
.wind {
  list-style: none;
  color: #70757a;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}
.weather canvas {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.temp {
  margin-top: 5px;
  margin-left: 4px;
  font-size: 48px;
  line-height: 60px;
  font-weight: 400;
}
.weatherTemp a {
  text-decoration: none;
}
.weatherTemp {
  margin-right: 10px;
  text-decoration: none;
}
.unit {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: -30px;
  right: -5px;
  text-decoration: none;
}
